/* universal styles */
body{
    margin: 0 auto;
    padding: 0;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}

/* header styles */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
/* navbar section styles */
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 151px;
    margin: 0 auto;
    padding: 0 30px;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}
.navbar-section a{
    text-decoration: none;
}

/* banner styles */
.banner{
    text-align: center;
    padding: 150px 270px 150px 270px;
}
.banner-title{
    margin-bottom: 37px;
    font-size: 37px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
/* Main Section */
main{
    background: linear-gradient(to bottom, #fff, rgba(78, 71, 255, 0.1) );
    
}
/* Action Section Styles */
.action-section{
    display: flex;
    justify-content: space-between;
    gap: 220px;
    margin: 116px auto;
    align-items: center;
}
.action-left-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}
.action-left button{
    margin: 20px 0;
}
.action-left-desc{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}
.action-image{
    border-radius: 48px;

}

/* Productive Users section Styles */
.productive-user-section{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 140px;
    border-radius: 24px;
}
.productive-users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:158px;
    
}
.productive-user-title{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 800;
    color: #252432;
}
.puc-title{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    margin-bottom: 0;
}
.puc-sub-title{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* Review Section Styles */
.review-section{
    margin: 137px auto;
    
}
.reviews{
    display: flex;
    justify-content: space-between ;
    padding: 0;
    gap: 40px;
}

.reviewer-section{
    display: flex;
    align-items: center;
    gap: 20px;
}


.reviewer-column h6, p{
    margin: 0;
    padding: 0;
}
.review-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}
.review-column{
    background-color: #FFFFFF;
    border-radius: 14px; 
    padding: 24px;
    width: 33%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.star{
    width: 20px;
    
}
.review-col-title{
    font-size: 26px;
    color: #252432;
    margin-top: 24px;
    margin-bottom: 0;  
}
.review-sub-title{
    font-size: 18px;
    color: #252432;
    margin-top: 8px;
    margin-bottom: 24px;  
}
.reviewer-column img{
    width: 40px;
    border-radius: 50%;  
}
.reviewer-column h6{
    font-size: 20px;
    color: #252432;
    font-weight: 500;
}
.reviewer-column p{
    font-size: 18px;
    color: #B3B3B3;
    margin-top: 6px;
}

/* Focus Section Styles */
.focus{
    background-color: #fff;
    border-radius: 14px;
    padding: 70px 150px;
    margin-bottom: 90px;
    text-align: center;
    align-items: center;
}
.focus h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
.focus p{
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}
.focus img{
    border-radius: 48px;
}

.focus button{
    margin: 20px 0px;
    font-weight: 400;
    font-size: 16px;
}

/* Get in touch Section */
.message-section{
    display: flex;
    align-items: center;
    padding: 70px 0;
   
}
.title-column{
    text-align: left;

}
.message-title{
    font-size: 97px;
    font-weight: 700;
    line-height: 1.2;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

input[type="email"], [type="text"], textarea{
    font-size: 20px;
    width: 490px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    padding: 20px 32px;
}
form input{
    margin-top: 10px;
    margin-bottom: 20px;
}
form label{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}
.btn-get-in-touch{
    width: 100%;
    line-height: 1.5;
    padding: 20px 0;;
}

/* Footer Section Styles */
footer{
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 70px;
}
.footer-logo{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
}
footer p{
    color: #8987A1;
    font-size: 18px;
}

.footer-menu{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}
.footer-menu a{
    text-decoration: none;
    color: #8987A1;
    margin-left: 48px;
    transition: 0.3s;
}
.footer-menu a:hover{
    
    color: #4E47FF;
}

/* shared styles */
.primary-color{
    color: #4E47FF;
}

.primary-btn{
    background-color: #4E47FF;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    transition: 0.3s;

}
/* button hover effect */
.primary-btn:hover{
    background-color: #ecc30f;
    color: #000;
    
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}