/* universal styles */
body{
    margin: 0 auto;
    padding: 0;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}

/* header styles */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* navbar section styles */
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 151px;
    margin: 0 auto;
    padding: 0 30px;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}
.navbar-section a{
    text-decoration: none;
}

/* banner styles */
.banner{
    text-align: center;
    padding: 150px 270px 150px 270px;
}
.banner-title{
    margin-bottom: 37px;
    font-size: 37px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
    color: #252432;
}

/* Action Section Styles */
.action-section{
    display: flex;
    justify-content: space-between;
    gap: 220px;
    margin: 116px auto;
    align-items: center;
}
.action-left-title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}
.action-left-desc{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}
.action-image{
    border-radius: 48px;

}

/* Productive Users section Styles */
.productive-user-section{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 140px;
    border-radius: 24px;
}
.productive-users{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:158px;
    
}
.productive-user-title{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 800;
    color: #252432;
}
.puc-title{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    margin: 0;
}
.puc-sub-title{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}



/* shared styles */
.primary-color{
    color: #4E47FF;
}

.primary-btn{
    background-color: #4E47FF;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}